<div class="nav">
  <div class="nav-container">
    <div class="nav-item left">
      <p class="nav-headline">MOS 2016 | Funding Options</p>
    </div>
    <div class="nav-item right">
      <p class="nav-aside">explore <span class="nav-icon"></span></p>
    </div>
  </div>
  <div class="slideout">
    <div class="slideout-tray">
      <div class="tray-header">
        <p class="tray-headline">MOS 2016</p>
      </div>
      <div class="tray-body">
        <p class="tray-copy">Microsoft Office Specialist certifications through Certiport are helping academic institutions world wide improve student outcomes.</p>
        <ul class="tray-resources">
          <li class="tray-resource">
            <a href="" class="tray-link">Get Started</a>
          </li>
          <li class="tray-resource">
            <a href="" class="tray-link">Partner with Certiport</a>
          </li>
          <li class="tray-resource">
            <a href="" class="tray-link">MOS Resources</a>
          </li>
          <li class="tray-resource">
            <a href="" class="tray-link">MOS 2013</a>
          </li>
          <li class="tray-resource">
            <a href="" class="tray-link">MOS 2010</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="slideout-channels">
      <div class="slideout-channel">
        <div class="channel-header">
          <div class="channel-image"></div>
          <p class="channel-headline">MOS 2016</p>
        </div>
        <ul class="channel-resources">
          <li class="channel-resource">
            <a href="" class="channel-link">What's New</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Certification Overview</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">MOS Exams</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Licensing Options</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Funding Sources</a>
          </li>
        </ul>
      </div>
      <div class="slideout-channel">
        <div class="channel-header">
          <div class="channel-image"></div>
          <p class="channel-headline"Key Benefits</p>
        </div>
        <ul class="channel-resources">
          <li class="channel-resource">
            <a href="" class="channel-link">College & Career Readiness</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Increased School Success</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Increased Student Success</a>
          </li>
        </ul>
      </div>
      <div class="slideout-channel">
        <div class="channel-header">
          <div class="channel-image"></div>
          <p class="channel-headline">Make MOS Work</p>
        </div>
        <ul class="channel-resources">
          <li class="channel-resource">
            <a href="" class="channel-link">Classroom Examples</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">MOS Competitions</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Success Badges</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Outstanding Students</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">Case Studies</a>
          </li>
          <li class="channel-resource">
            <a href="" class="channel-link">International</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>