.asset-left {
	width: 1000px;
	height: 424px;
	margin-bottom: 32px;
}

.asset-left .asset-media {
	float: left;
}

.asset-left .asset-copy {
	margin-left: 350px;
	padding-top: 48px;
}

.asset-left .asset-copy-headline {
	height: 48px;
	text-align: center;
	margin-bottom: 16px;
	color: #3b3b3c;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-image: url("/images/horizontal-rule-sm.png");
	background-repeat: no-repeat;
	background-position-y: 46px;
	background-position-x: 310px;
}

.asset-left .asset-copy-subhead {
	display: inline-block;
	color: #636466;
	font-size: 16px;
	line-height: 1.5;
	margin-left: 44px;
}

.asset-left .asset-copy-list {
	margin-top: 16px;
	margin-left: 44px;
}

.asset-left .asset-copy-item {
	font-size: 16px;
	color: #636466;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

.asset-left .asset-copy-plain {
	display: inline-block;
	color: #636466;
	font-size: 16px;
	line-height: 1.5;
	margin-left: 44px;
	margin-top: 8px;
}

.asset-left .asset-copy-channels {
	display: inline-block;
	margin-top: 32px;
	margin-left: 51px;
}

.asset-left .copy-channel {
	float: left;
	position: relative;
}

.asset-left .copy-channel:first-child {
	margin-right: 74px;
}

.asset-left .channel-headline {
	font-size: 18px;
	color: #3b3b3c;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 18px;
}

.asset-left .channel-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.asset-left .channel-item {
	padding-left: 1em;
	text-indent: -.7em;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	color: #636466;
}

.asset-left .channel-item:before {
	content: "• ";
	color: #636466;
}

.asset-left .channel-item-link {
	display: inline;
	text-decoration: none;
	color: #4967ac;
}