.page-heading {
	background-image: url("/images/cert-overview-page-heading-background.jpg");
}

.page-heading .heading-content {
	background-image: url("/images/page-header-horizontal-rule-white.png");
}
.page-heading .heading-headline {
	color: #ffffff;
}

.page-heading .heading-copy {
	color: #ffffff;
}
.triple-highlight .channel-copy {
	margin-left: 0px;
}
.triple-highlight .channel-action {
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: #4967ac;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 16px;
}
.feature-four {
	margin-bottom: 40px;
}
.asset-left .asset-copy-block {
	display: inline-block;
	color: #636466;
	font-size: 16px;
	line-height: 1.5;
	margin-left: 44px;
	margin-bottom: 10px;
}
.lead-form {
	margin-bottom: 48px;
}