.page-heading {
	background-image: url("/images/school-success-page-heading-background.jpg");
}
.grid-three .grid-body {
	background-image: url("/images/school-success-grid-three-background.jpg");
}
.grid-three .grid-body-headline {
	color: #ffffff;
}
.grid-three .grid-body-copy.subhead {
	font-weight: 700;
	margin-top: 8px;
}
.grid-three .grid-body-copy.subhead:first-of-type {
	font-weight: 700;
	margin-top: 16px;
}
.grid-three .grid-body-list {
	margin-left: 30px;

	position: relative;
	left: 650px;
}
.grid-three .grid-body-item {
	color: #e7e7e8;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 44px;
}
.grid-three .download-action {
	margin-top: 40px;
}
.grid-block {
	margin-top: 32px;
	margin-bottom: 32px;
	background-image: url("/images/school-success-grid-block-background.jpg");
}
.grid-block .big-box-icon {
	margin-top: 48px;
}
.grid-block .copy.quote {
	font-style: italic;
}
.grid-block .attribution {
	font-size: 16px;
	color: #636466;
	margin-top: 12px;
}
.grid-block .sub-box.wide .sub-box-headline {
	margin-top: 48px;
}
.grid-block .sub-box-copy.quote {
	font-style: italic;
	color: #e7e7e8;
}
.grid-block .sub-box-copy.attribution {
	color: #e7e7e8;	
}
.grid-block .sub-box-cta {
	text-decoration: none;
	font-weight: 700;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	margin-top: 16px;
	cursor: pointer;
}
.grid-block .grid-content.left {
	background-image: url("/images/school-success-grid-left-background.jpg");
}