.measure-twice {
	background-image: url("/design-specs/MOS16_S_GetStarted_v4.2.png");
	position: absolute;
	height: 3866px;
	width: 1100px;
	background-repeat: no-repeat;
	left: 90px;
	top: -144px;
	z-index: 99;
	opacity: .7;
}