body {}

.icons{
	float: right;
	margin-right: 28px;
	margin-top: 15px;
}

.textcomponents-left
{
	margin-top: 10px;
	margin-left: 28px;
}
.textcomponents-middle
{
	margin-top: 10px;
}
#footer{
	width: 1000px;
	height: 50px;
	background-color: #2e2e2e;
	margin: auto;
}

#footer img{border:none;}

#footer .plaintext
{
	color: White;
}

#footer .plaintext-light
{
	color: gray;
}

#footer a:link, #footer a:visited, #footer a:active
{
	color: White;
	text-decoration: none;
}

#footer a:hover
{
	color: White;
	text-decoration: underline;
}
