#quickmap #sitemap{width: 600px; height: 420px; border: solid 5px #DDDED9; padding-left: 10px; background-color: #F7F9F5; margin-left: 773px; text-align: left;}
#quickmap #sitemap a{color:#656565;}
#quickmap #sitemap #left{float: left;}
#quickmap #sitemap #right{float: right;}
#quickmap #sitemap #right li{margin-right: -5px;}
#quickmap #sitemap .navigation {
	padding:0px 0px;
	width:190px;
	margin-top: -15px;
	width: 280px;
	margin-left: 5px;
}
#quickmap ul, #quickmap #sitemap ul {
    list-style-image: none !important;
    list-style-position: inside !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding-left: 0 !important;
}
#quickmap ul li, #quickmap #sitemap ul li{
	padding-bottom: 0 !important;
}
#quickmap #sitemap p{
	padding-bottom: 0 !important;
}
#quickmap #sitemap .navigation a, .navigation a:visited  {
	padding-left: 10px;
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	line-height: 18px !important;
}
#quickmap #sitemap .navigation a:hover {
	background-color: #DDDED9;
}
#quickmap #sitemap p.tabs a{width: 280px; display: block; padding: 3px 0 3px 5px;}
#quickmap #sitemap .tabs a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#quickmap #sitemap .tabs a:hover{background-color: #DDDED9;}
#quickmap{width: 130px; margin-top: 2px; }
#quickmap li{list-style-type: none !important;}
#quickmap li a.qsmenu{background-color: #DDDED9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	color:#656565;
	padding: 2px 8px 2px 8px;
	}
#quickmap li #sitemap {
	position: absolute;
	left: -999em;
}
#quickmap li:hover #sitemap {
	left: -443px;
	z-index: 999999;
}