.feature-pack {
	width: 1000px;
	height: 464px;
}
.feature-pack .feature-header {
	height: 48px;
	background-image: url("/images/feature-pack-horizontal-rule.png");
	background-repeat: no-repeat;
	background-position-y: 46px;
	background-position-x: 470px;
}
.feature-pack .feature-headline {
	font-weight: 700;
	color: #008641;
	font-size: 24px;
	text-align: center;
}
.feature-pack .feature-list {
	margin-top: 40px;
}
.feature-pack .feature-item {
	width: 300px;
	margin-right: 20px;
	margin-bottom: 36px;
	position: relative;
	display: inline-block;
}
.feature-pack .feature-item-copy {
	display: inline-block;
}
.feature-pack .feature-item-icon {
	position: absolute;
	top: 7px;
}
.feature-pack .feature-item-headline {
	margin-left: 51px;
	margin-top: 8px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;	
}
.feature-pack .feature-item-subheadline {
	margin-left: 51px;	
	font-size: 14px;
	color: #636466;
	line-height: 20px;
	margin-top: 8px;
}
.feature-pack .feature-item-action {
	margin-left: 51px;
	margin-top: 8px;
	font-weight: 600;
	color: #4967ac;
	font-family: 'Open Sans', sans-serif;
}