/*body * {
	border: 1px solid black;
}*/

.hero {
	width: 1000px;
	height: 472px;
	margin-bottom: 32px;
}

.hero .hero-slider {
	height: 100%;
}

.hero .unslider{
	position: relative;
}

.hero .unslider-arrow{
	position: absolute;
	height: 72px;
	width: 72px;
	top: 200;
	background-color: rgba(0,0,0,.2);
	line-height: 0; 
    font-size: 0;
    color: transparent; 
    background-repeat: no-repeat;
    background-position-y: 26px;
    background-position-x: 30px;
    transition: background-color 0.25s ease;
}

.hero .unslider-arrow:hover{
	background-color: rgba(0,0,0,.1);
}

.hero .unslider-arrow.prev {
	left: 0;
}

.hero .unslider-arrow.next {
	right: 0;
	background-image: url("../images/hero-slider-arrow-right.png");
}

.hero .unslider-arrow.prev {
	background-image: url("../images/hero-slider-arrow-left.png");	
}

.hero .unslider-nav {
	position: absolute;
	bottom: 16px;
	left: 462px;
}

.hero .unslider-nav > ol >li:nth-child(1), .unslider-nav > ol >li:nth-child(2){
	margin-right: 6px;
}

.hero .unslider-nav > ol >li {
	display: inline-block;
	height: 16px;
	width: 16px;
	border: 3px solid white;
	border-radius: 12px;
	line-height: 0;	 
    font-size: 0;
    color: transparent; 
}

.hero .unslider-nav > ol >li.unslider-active {
	background-color: #ffffff;
}

.hero .hero-slide {
	height: 100%;	
}

.hero .slide-container {
	margin-top: 90px;
	margin-left: 140px;
}

.hero .hero-headline {
	margin: 0px 0px 16px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 48px;
}

.hero .hero-copy {
	font-family: 'Open Sans', sans-serif;
	color: #3b3b3c;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 16px;
}

.hero .hero-action {
	cursor: pointer;
	display: inline-block;
}

.hero .hero-action-text {
	color: #2a3277;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	top: -6px;
}

.hero .hero-slider > ul > li:nth-child(1) {
	background-image: url(../images/hero-homepage.jpg);
}

.hero .hero-slider > ul > li:nth-child(2) {
	background-image: url("http://placehold.it/1000x472");
}

.hero .hero-slider > ul > li:nth-child(3) {
	background-image: url("http://placehold.it/1000x472");
}